doctype html
html
	head
		title= title + ' - Web App'
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='shortcut icon', href='/favicon.ico')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/main.css')
		
		script(src='/js/jquery.min.js')
		script(src='/js/bootstrap.min.js')
		script(src="https://use.fontawesome.com/c360310b00.js")
		script(src='/js/main.js')

		block scripts

	body
		// include partials/header

		.container
			// include partials/flash
			block content

		// include partials/footer